._dialog_us3b9_1 {
  padding: 0;
}

dialog::backdrop {
    background: var(--ui-01);
    backdrop-filter: blur(3px);
  }

._closeDialog_us3b9_19 {
    position: absolute;
    top: var(--spacing-03);
    right: var(--spacing-03);
}

._dialogContent_us3b9_31 {
    padding: var(--spacing-04);
}