._dialog_16two_1 {
    display: grid;
    align-items: center;
    justify-content: center;
    width: "100%";
    height: "100vh";
}

dialog::backdrop {
    background: var(--ui-01);
    backdrop-filter: blur(3px);
  }

._closeDialog_16two_27 {
    position: absolute;
    top: var(--spacing-03);
    right: var(--spacing-03);
}

._dialogContent_16two_39 {
    padding: var(--spacing-04);
}